@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.mask {
  mask-image: radial-gradient(circle, rgba(1, 8, 4, 1) 20%, rgba(1, 8, 4, 0) 70%);
  -webkit-mask-image: radial-gradient(circle, rgba(1, 8, 4, 0.5) 15%, rgba(1, 8, 4, 1) 45%);
}