@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .rotate-25 {
    transform: translateX(-50%) rotate(25deg);
  }
  .-rotate-25 {
    transform: translateX(-50%) rotate(-25deg);
  }
}

@keyframes fall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(400px) translateX(0);
    opacity: 0;
  }
}

@keyframes flicker {
  0% { opacity: 0.7; }
  50% { opacity: 0.9; }
  100% { opacity: 0.7; }
}

.particle {
  animation: fall 10s linear infinite;
}

.animate-flicker {
  animation: flicker 3s infinite alternate;
}

html {
  background: #010804;
}

.bg-gradient {
  background: radial-gradient(circle at top center, #151518 0%, #010804 50%),
            linear-gradient(to bottom, #151518 50%, #010804 100%);
}

.bg-gradient-services {
  background: radial-gradient(circle at top center, #151518 0%, #010804 30%),
            linear-gradient(to bottom, #151518 0%, #010804 100%);
}

.mask {
  mask-image: radial-gradient(circle, rgba(1, 8, 4, 1) 20%, rgba(1, 8, 4, 0) 70%);
  -webkit-mask-image: radial-gradient(circle, rgba(1, 8, 4, 0.8) 15%, rgba(1, 8, 4, 1) 60%);
}